<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form>
<table>
<tr><td>jobTitle</td><td><input type="text" ng-model="job.jobTitle"></td></tr>
<tr><td>jobDes</td><td><input type="text" ng-model="job.jobDescription"></td></tr>
<!-- <tr><td>postedon</td><td><input type="text" ng-model="job.postedOn"></td></tr> -->
<tr><td>skills</td><td><input type="text" ng-model="job.skillsRequired"></td></tr>
<tr><td>salry</td><td><input type="text" ng-model="job.salary"></td></tr>
<tr><td>location</td><td><input type="text" ng-model="job.location"></td></tr>




<tr><td><input type="submit" ng-click="saveJob()" value="Register"></td></tr>


</table>

</form>
{{errorMessage}}
</body>
</html>